:root {
  --primary-color: rgb(233, 233, 233);
  --secondary-color: rgb(134, 196, 35);
  --tertiary-color: rgb(67, 196, 35);
  --dark-color: rgb(102, 102, 102);
  /* para usar --> var(--primary-color); */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  /* background-image: url('./assets/bg.png');
  background-size: contain; */
}

.profile-pic {
  width: 80px;
  height: 50px;
}